{% load static %}
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login page</title>

    <!--Main Template css-->
    <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="{% static 'assets/css/login.css' %}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  </head>

  <body style="background-color:#171b1f;">
    <section>
      <div class="container shadow-lg align-content-center justify-content-center align-items-center mt-5">
        <div class="container col-lg-5 mt-2 p-4 card shadow mt-5"
          style="background-color:#202641; border:solid 1px #fff; top:auto; justify-content:center; align-items:center; align-content:center;">
          <center>
            <h2 class="justify-content-center text-white"><i
                class="material-icons bg-light rounded mr-2">person</i>Login</h2>
            <hr style="background-color: #ffffff;">
          </center>
          <form class="container-fluid" method="post" action="">
            {% csrf_token %}
            <div class="form-group text-white">
              <div class="input-group">
                {% for message in messages %}
                <div class="my-2 container-fluid text-danger pt-2 text-start rounded" style="font-size: 1.1rem; background-color: #ea9dcf;">
                    <p><i>{{message}}</i></p>
                </div>
                {% endfor %}
                <div class="input-group-addon bg-light">
                  <i class="material-icons justify-content-center">person</i>
                </div>
                <input name="username" type="text" class="form-control text-center" id="username"
                  placeholder="Enter Your Username.." required />
              </div>
            </div>
            <div class="form-group text-white">
              <div class="input-group">
                <div class="input-group-addon bg-light">
                  <i class="material-icons justify-content-center">key</i>
                </div>
                <input name="password" type="password" class="form-control text-center" id="password"
                  placeholder="Enter Your Password..." required />
              </div>
            </div>
            <div class="form-group form-check justify-content-start" style="font-size:.7rem;">
              <input type="checkbox" class="form-check-input" id="exampleCheck1" required />
              <label class="form-check-label text-white text-start" for="checkme">Remember Me</label>
              <a class="d-inline-block text-warning justify-content-end float-right px-3" href="#">
                Forgot Password</a>
            </div>
            <input type="submit"  style="font-size:1.1rem;" value="Login" class="btn btn-outline-primary form-control" />

            <div class="input-group mt-3">
              <p class="btn btn-block btn-primary form-control"><img width="22"style='border-radius: 50%; margin-right:10px;' src="{% static 'assets/images/googlelogo.jpg' %}" alt="">log in with Google</p>
            </div>
          </form>
          <div class="text-center mt-0 justify-content-center">
            <p class="text-white" style="font-size:.89rem;"><em>Don't yet have an account, register</em>
              <a class="text-warning" href="/signup"> HERE</a>
            </p>
          </div>
        </div>
      </div>
    </section><br><br>
  </body> 
</html>